.signUpForm {
  margin-left: auto;
  margin-right: auto;
  background-color: #fffffffd;
  padding: 20px;
  border: 3px solid rgb(192, 198, 201);
  border-radius: 10px;
}
#root {
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .hugeLabel {
    font-size: 20px;
  }
  .signUpForm {
    max-width: 40vw;
  }
  .message {
    max-width: 40vw;
  }
}
@media (max-width: 1200px) {
  .signUpForm {
    max-width: 60vw;
  }

  .message {
    max-width: 60vw;
  }
}
@media (max-width: 800px) {
  .signUpForm {
    max-width: 80vw;
  }

  .message {
    max-width: 80vw;
  }
}
@media (max-width: 400px) {
  .signUpForm {
    max-width: 95vw;
  }

  .message {
    max-width: 95vw;
  }
}
legend {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}
label {
  font-size: 18px;
}
.form-control {
  border-radius: 10px !important;
  font-size: 16px;
  border: 2px solid #d8d8d893 !important;
}
.btn {
  width: 100%;
}

.input-icons i {
  position: relative;
  top: -40px;
}

.icon {
  padding: 7px;
}

.input-field {
  padding-left: 40px;
}

.input-icons {
  color: #c2c2c2;
}
.input-field::placeholder {
  color: #c2c2c2;
}
.input-field:focus::placeholder {
  color: black;
}
.input-field:focus + .icon {
  color: black;
}
.form-group {
  margin-bottom: -10px !important;
}

.message {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}
.error {
  color: red;
  font-size: 22px;
  text-align: center;
  padding-bottom: 15px;
  font-weight: 700;
}
.input-error {
  color: red;
  margin-top: -25px;
  text-align: center;
  margin-bottom: 10px;
}
